.todo-list-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

h2 {
  color: #004646;
}

ul {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.check-button {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  border: solid;
  border-radius: 5px;
  border-color: gray;
}

.check-button.active {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  border: solid;
  border-radius: 5px;
  background-color: #004646;
  border-color: gray;
}

.todo-item span {
  flex: 1;
  color: #004646;
  background-color: white;
}

.delete-button {
  color: red;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  margin-left: 20px;
}

.delete-button:hover {
  background-color: darkred;
}

@media (max-width: 600px) {
  .todo-list-container {
    max-width: 400px;
    padding-right: 20px;
  }

  .todo-item span {
    display: flex;
    color: #004646;
    background-color: white;
  }
}